/*******************************************************
*
* Styles for media query with screen over 960 px
*
*******************************************************/

.logo {
    width: 5em;
}


/*
*
*
* Jumbotron
*
*/

.text {
    padding: 50px;
}

.text h2 {
    font-weight: 500;
    font-size: 3em;
}

.text p {
    font-weight: 400;
    font-size: 1.5em;
}


/*
*
*
* Featured work
*
*/

.mycaption {
    font-size: 2em;
}