/*******************************************************
*
* Default styles aiming at smaller screens
*
*******************************************************/


/*
*
*
* Page styles
*
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}


/*
*
*
* Header
*
*/

.logo {
    width: 3em;
}

.my_nav_background_color {
    background-color: rgba(45, 60, 73, 0.75);
}


/*
*
*
* Jumbotron
*
*/

.jumbotron {
    background-image: url(../img/img01.jpg);
    background-size: cover;
    height: 100%;
    min-height: 40vh;
}

.text {
    text-transform: uppercase;
    text-align: right;
    padding: 10px;
    color: #02b3e4;
    background-color: rgba(45, 60, 73, 0.75);
}

.text h2 {
    font-weight: 400;
    font-size: 1.2em;
}

.text p {
    font-weight: 300;
    font-size: 1em;
}


/*
*
*
* Featured work
*
*/

.feat_work {
    font-size: 2em;
    color: #7d97ad;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.mycaption {
    text-transform: uppercase;
    text-align: center;
    color: #2d3c49;
    font-size: 1.4em;
}