/*******************************************************
*
* Styles for media query with screen over 540 px
*
*******************************************************/


/*
*
*
* Header
*
*/

.logo {
    width: 4em;
}


/*
*
*
* Jumbotron
*
*/

.text {
    padding: 30px;
}

.text h2 {
    font-weight: 400;
    font-size: 2em;
}

.text p {
    font-weight: 300;
    font-size: 1.6em;
}


/*
*
*
* Featured work
*
*/

.mycaption {
    font-size: 1.7em;
}